@tailwind base;
@tailwind components;
@tailwind utilities;

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container-shadow {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
}

/* Line divider */
.custom-shape-divider-bottom {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 225px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: hsl(225, 100%, 98%);
  border-bottom-color: hsl(225, 100%, 98%);
  /* check if the above line solves the extra background line problem */
}
