@tailwind base;
@tailwind components;
@tailwind utilities;

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container-shadow {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
}
